@model MiddleLayer.Models.TypeDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
